<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, ~{::link}, _)">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin-panel.css}">
</head>
<body>
<div class="background">
    <div class="td-all th-all">
        <div class="flex-row flex-center th-90per">
            <div class="flex-column flex-center" style="background-color: white; box-shadow: 3px 3px 2px var(--hover-color); height: 900px; width: 1200px; border-radius: 45px;">
                <div class="flex-column flex-center td-h-2">
                    <span class="subtitle-font subtitle-label">Пользователи</span>
                </div>
                <div class="td-h-1"></div>
                <div class="flex-column flex-center td-h-2">
                    <form th:action="@{/admin-panel(pageNumber=${leftPageNumber})}" method="get">
                        <input type="text"
                               class="regular-font search-input td-500px"
                               name="login"
                               th:value="${login}"
                               placeholder="Поиск по логину..."
                        />
                        <input type="submit" class="btn btn-font" style="margin-left: 30px; height: 41px; line-height: 41px; width: 150px;" value="Поиск"/>
                    </form>
                </div>
                <div class="table-container mt-20px" th:unless="${#lists.isEmpty(users)}">
                    <div class="flex-row table-header th-65px">
                        <div class="regular-font td-g td-100px header-cell">ID</div>
                        <div class="regular-font td-g td-250px header-cell">Логин</div>
                        <div class="regular-font td-g td-400px header-cell">Email</div>
                        <div class="regular-font td-g td-100px header-cell">Админ</div>
<!--                        <div class="regular-font td-g td-300px header-cell">Дата последнего входа (UTC)</div>-->
                        <div class="regular-font td-g td-150px header-cell">
                            <img src="/svg/blocked-icon.svg" alt="Статус" draggable="false" width="25" height="25"/>
                        </div>
                    </div>
                    <span th:unless="${!#lists.isEmpty(users)}" class="regular-font dark-font mt-20px td-all">Нет пользователей</span>
                    <div class="flex-row table-row" th:each="user : ${users}" th:onclick="|goTo('@{/admin-panel/user-views/view(id=${user.id})}')|">
                        <div th:text="${#numbers.formatInteger(user.id, 1)}" class="td-g td-100px regular-font table-cell"></div>
                        <div th:text="${user.login}" class="td-g td-250px regular-font table-cell" style="text-align: left;"></div>
                        <div th:text="${user.email}" class="td-g td-400px regular-font table-cell" style="text-align: left;"></div>
                        <div class="td-g td-100px regular-font table-cell table-cell-center">
                            <img src="/svg/yes-icon.svg" alt="админ" width="20" height="20" draggable="false" th:if="${user.role.name() == T(ru.yofik.athena.auth.domain.user.model.Role).ADMIN.name()}"/>
                        </div>
<!--                        <div th:text="${{user.lastLoginDate}}" class="td-g td-300px regular-font table-cell"></div>-->
                        <div class="td-g td-150px regular-font table-cell table-cell-center">
                            <img src="/svg/yes-icon.svg" alt="заблокирован" width="20" height="20" draggable="false" th:if="${user.isLocked}"/>
                        </div>
                    </div>
                </div>
                <div class="flex-row flex-center td-h-2">
                    <a th:href="@{/admin-panel(pageNumber=${leftPageNumber},login=${login})}">
                        <svg class="left-arrow-primary" viewBox="0 0 29 52">
                            <path class="arrow" fill-rule="evenodd" clip-rule="evenodd" d="M0.84939 51.1539C-0.28313 50.0257 -0.28313 48.1965 0.84939 47.0684L21.9988 26L0.849388 4.93164C-0.283132 3.80346 -0.283132 1.97432 0.849388 0.846134C1.98191 -0.282044 3.81809 -0.282044 4.95061 0.846134L28.1506 23.9572C29.2831 25.0854 29.2831 26.9146 28.1506 28.0428L4.95061 51.1539C3.81809 52.282 1.98191 52.282 0.84939 51.1539Z"/>
                        </svg>
                    </a>
                    <span class="btn-font" style="margin-left: 20px; margin-right: 20px; margin-top: 2px;" th:text="${currentPage + 1} + '  из  ' + ${totalPages}">
                    </span>
                    <a th:href="@{/admin-panel(pageNumber=${rightPageNumber},login=${login})}">
                        <svg class="right-arrow-primary" viewBox="0 0 29 52">
                            <path class="arrow" fill-rule="evenodd" clip-rule="evenodd" d="M0.84939 51.1539C-0.28313 50.0257 -0.28313 48.1965 0.84939 47.0684L21.9988 26L0.849388 4.93164C-0.283132 3.80346 -0.283132 1.97432 0.849388 0.846134C1.98191 -0.282044 3.81809 -0.282044 4.95061 0.846134L28.1506 23.9572C29.2831 25.0854 29.2831 26.9146 28.1506 28.0428L4.95061 51.1539C3.81809 52.282 1.98191 52.282 0.84939 51.1539Z"/>
                        </svg>
                    </a>
                </div>
                <div class="flex-row flex-space-evenly td-h-3 td-all">
                    <button class="btn btn-font" style="font-weight: bold; width: 300px;" th:onclick="|goTo('@{/admin-panel/user-views/new-user}')|">Добавить пользователя</button>
                    <button class="btn btn-font" style="font-weight: bold; width: 300px;" th:onclick="|goTo('@{/admin-panel/user-views/new-admin}')|">Добавить админа</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="page :: navbar">
    </div>
</div>
</body>
</html>