<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, ~{::link}, _)">
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="background">
    <div class="td-all th-all">
        <div class="flex-row flex-center th-90per">
            <div class="flex-row flex-center" style="background-color: white; box-shadow: 3px 3px 2px var(--hover-color); height: 700px; width: 1200px; border-radius: 45px;">
                <div class="flex-row flex-center" style="margin-right: 50px;">
                    <img src="/svg/big-logo.svg"  alt="loading..." draggable="false"/>
                </div>
                <form id="login-form" style="margin-left: 50px;" class="flex-column flex-justify-between td-h-9" th:action="@{/auth/login}" method="post">
                    <div class="flex-column flex-center td-h-7">
                        <div class="flex-row flex-center td-h-2" th:style="${isAfterReset != null && isAfterReset} ? '' : 'display: none;'">
                            <span class="regular-font login-label">
                                Пароль сброшен, войдите еще раз
                            </span>
                        </div>
                        <div class="flex-row flex-center td-h-2">
                            <input id="username-input"
                                   name="login"
                                   type="text"
                                   class="regular-font login-input"
                                   placeholder="Логин"
                                   th:value="${login}"
                                   th:classappend="${isAuthenticationError != null && isAuthenticationError} ? 'login-input-error': ''"
                            />
                        </div>
                        <div class="flex-row flex-center td-h-2">
                            <input id="password-input"
                                   name="password"
                                   type="password"
                                   class="regular-font login-input"
                                   placeholder="Пароль"
                                   th:classappend="${isAuthenticationError != null && isAuthenticationError} ? 'login-input-error': ''"
                            />
                        </div>
                    </div>
                    <div class="flex-row flex-center td-all">
                        <label for="password-input" class="regular-font td-h-2 login-label"></label>
                        <input type="submit" class="btn btn-font login-btn" value="Войти"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>