<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title, extraLinks, extraScripts)">
    <title th:replace="${title}">Афина. Администрирование</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/color.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/general.css}">
    <th:block th:replace="${extraLinks}"/>
    <th:block th:replace="${extraScripts}"/>
    <script th:src="@{/js/general.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
</body>
</html>