.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

**/certs

messenger/config
auth/config
admin/config

/admin/frontend/build/
/admin/frontend/node_modules/
/admin/src/main/webapp