.client-table {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table-container {
    border: 1px solid black;
}

.table-header {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.table-row:hover {
    background-color: var(--hover-color);
}