body {
    --primary-color: #03A9F4;
    --accent-color: #03A9F4;
    --primary-dark-color: #0288D1;
    --primary-light-color: #B3E5FC;
    --text-primary-color: #212121;
    --text-secondary-color: #757575;
    --divider-color: #BDBDBD;
    --text-or-icons-color: #FFFFFF;
    --hover-color: #D3D3D3;
    --delete-color: #DE0000;
    --delete-accent-color: #FF3333;
}