<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, ~{::link}, _)">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin-panel.css}">
</head>
<body>
    <div class="background">
        <div th:replace="page :: header"></div>
        <div class="client-table">
            <span class="subtitle-font">Список клиентов</span>
            <div class="horizontal-spliterator td-2"></div>
            <span th:unless="${!#lists.isEmpty(clients)}" class="regular-font">Нет клиентов</span>
            <div class="table-container" th:unless="${#lists.isEmpty(clients)}">
                <div class="flex-row table-header">
                    <div class="regular-font td-g td-1">ID</div>
                    <div class="regular-font td-g td-2">Название</div>
                    <div class="regular-font td-g td-1">Активен</div>
                </div>
                <div class="flex-row table-row" th:each="client : ${clients}" th:onclick="|goTo('@{/admin-panel/client/{id}(id=${#numbers.formatInteger(client.id, 1)})}')|">
                    <div th:text="${#numbers.formatInteger(client.id, 1)}" class="td-g td-1 regular-font"></div>
                    <div th:text="${client.name}" class="td-g td-2 regular-font"></div>
                    <div th:text="${client.active}" class="td-g td-1 regular-font"></div>
                </div>
            </div>
            <button class="btn btn-font" style="margin-top:50px;" th:onclick="|goTo('@{/admin-panel/client/new}')|">Добавить</button>
        </div>
        <div th:replace="page :: footer"></div>
    </div>
</body>
</html>