<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, _, _)">
</head>
<body>
<div class="background">
    <div th:replace="page :: header"></div>
    <div class="client-table flex-column flex-center">
        <div class="regular-font td-h-2">
            У вас нет прав для совершения этой операции или вы не авторизованы
        </div>
        <button class="btn btn-font" th:onclick="|goTo('@{/}')|">
            Войти
        </button>
    </div>
    <div th:replace="page :: footer"></div>
</div>
</body>
</html>