<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, _, _)">
</head>
<body>
<div class="background">
    <div th:replace="page :: header"></div>
    <div class="client-table">
            <div class="flex-column flex-center td-h-4">
                <label class="regular-font td-2 td-h-2" style="text-align: center;">Введите ключ доступа</label>
                <input id="password-input" name="password" type="password" class="regular-font td-4" />
            </div>
            <div class="flex-row flex-center td-h-4">
                <input type="submit" class="btn btn-font" value="Войти" th:onclick="|loginRequest('@{/athena/login}', '@{/admin-panel}', ['password-input'])|"/>
            </div>
    </div>
    <div th:replace="page :: footer"></div>
</div>
</body>
</html>