<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title, extraLinks, extraScripts)">
    <title th:replace="${title}">Афина. Администрирование</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/color.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/general.css}">
    <th:block th:replace="${extraLinks}"/>
    <th:block th:replace="${extraScripts}"/>
    <script th:src="@{/js/general.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="background">
    <div th:fragment="header" class="header flex-row flex-justify-between flex-center">
        <div class="btn title-font" style="background-color: var(--primary-color); margin-left: 50px;">
            Афина
        </div>
        <div class="btn btn-font" th:onclick="|goTo('@{/admin-panel}')|">
            Клиенты
        </div>
        <div class="btn btn-font" th:onclick="|goTo('@{/admin-panel/user}')|">
            Пользователи
        </div>
        <div class="btn" style="background-color: var(--primary-color); margin-right: 50px;" th:if="${login == null or !login}">
        </div>
        <button class="btn btn-font" style="margin-right: 50px;"
                th:if="${login != null and login}"
                th:onclick="|goTo('@{/athena/logout}')|">
            Выйти
        </button>
    </div>
    <div th:fragment="content">
    </div>
    <div th:fragment="footer" class="footer flex-column flex-center">
        <span class="low-font">2022, Афина v0.1.0</span>
    </div>
</div>
</body>
</html>