<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: commonHeader(_, ~{::link}, _)">
    <link type="text/css" rel="stylesheet" th:href="@{/css/client-view.css}">
</head>
<body>
<div class="background">
    <div th:replace="page :: header"></div>
    <div class="client-info">
        <span class="subtitle-font">Пользователь</span>
        <div class="horizontal-spliterator td-6"></div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">ID :</span>
            <span class="regular-font td-3" th:text="${user.id}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Имя :</span>
            <span class="regular-font td-3" th:text="${user.name}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Логин :</span>
            <span class="regular-font td-3" th:text="${user.login}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Создан :</span>
            <span class="regular-font td-3" th:text="${user.createdAt}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Активирован :</span>
            <span class="regular-font td-3" th:text="${user.activated}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Приглашение :</span>
            <span class="regular-font td-3" th:text="${user.invitation != null}"></span>
        </div>
        <div class="flex-row td-h-1" th:if="${user.invitation != null}">
            <span class="regular-font td-2">Код приглашения :</span>
            <span class="regular-font td-3" th:text="${user.invitation.code}"></span>
        </div>
        <div class="flex-row td-h-1" th:if="${user.invitation != null}">
            <span class="regular-font td-2">Оставшиеся использования :</span>
            <span class="regular-font td-3" th:if="${user.invitation != null}" th:text="${user.invitation.count}"></span>
        </div>
        <div class="flex-row td-h-1">
            <span class="regular-font td-2">Заблокирован :</span>
            <span class="regular-font td-3" th:text="${user.lock != null}"></span>
        </div>
        <div class="flex-row td-h-1" th:if="${user.lock != null}">
            <span class="regular-font td-2">Дата блокировки :</span>
            <span class="regular-font td-3" th:text="${user.lock.date}"></span>
        </div>
        <div class="flex-row td-h-1" th:if="${user.lock != null}">
            <span class="regular-font td-2">Причина блокировки :</span>
            <span class="regular-font td-3" th:text="${user.lock.reason}"></span>
        </div>
    </div>
    <div class="horizontal-spliterator td-6"></div>
    <div id="token-info" style="display: none;">
    </div>
    <div class="flex-column client-form" th:fragment="success" th:if="${invitation != null}" th:remove="tag">
        <div class="regular-font td-6 td-h-2">Сгенерированное приглашение пользователя:</div>
        <div class="low-font td-6" style="word-wrap: anywhere;" th:text="${invitation}"></div>
    </div>
    <div class="flex-row td-5">
        <button class="btn btn-font"
                th:onclick="|replaceAjaxQuery('@{/admin-panel/user/{id}/invitation(id=${#numbers.formatInteger(user.getId(), 1)})}', 'token-info', 'POST')|"
        >
            Новое приглашение
        </button>
        <button class="btn btn-del btn-font"
                th:onclick="|goTo('@{/admin-panel/user/{id}/delete(id=${#numbers.formatInteger(user.getId(), 1)})}')|"
        >
            Удалить
        </button>
        <button class="btn btn-font"
                th:onclick="|goTo('@{/admin-panel/user/{id}/lock(id=${#numbers.formatInteger(user.getId(), 1)})}')|"
        >
            Заблокировать
        </button>
        <button class="btn btn-font"
                th:onclick="|goTo('@{/admin-panel/user/{id}/unlock(id=${#numbers.formatInteger(user.getId(), 1)})}')|"
        >
            Разблокировать
        </button>
    </div>
    <div th:replace="page :: footer"></div>
</div>
</body>
</html>