/*Основные фрагменты*/
/*-----------------------------------------------------------------------*/
body {
    user-select: none;
    background: linear-gradient(-45deg, #44fcfc, #87CEFA, #01BBEE, #B3E5FC);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    50% {
        background-position: 100% 40%;
    }
    100% {
        background-position: 0% 40%;
    }
}


.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
    height: 100%;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-dark-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 2px var(--text-primary-color);
}

.icon:hover path, .icon:hover polygon {
    transition: 200ms ease-out;
    fill: var(--accent-color);
}
/*-----------------------------------------------------------------------*/

/*Flex классы*/
/*-----------------------------------------------------------------------*/
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-align-center {
    align-items: center;
}
/*-----------------------------------------------------------------------*/



/*Классы ширины элементов*/
/*-----------------------------------------------------------------------*/
.mt-20px {
    margin-top: 20px;
}

.td-all {
    width: 100%;
}

.th-all {
    height: 100%;
}

.th-90per {
    height: 90%;
}

.th-65px {
    height: 65px;
}

.td-50px {
    width: 50px;
}

.td-100px {
    width: 100px;
}

.td-150px {
    width: 150px;
}

.td-200px {
    width: 200px;
}

.td-250px {
    width: 250px;
}

.td-300px {
    width: 300px;
}

.td-350px {
    width: 350px;
}

.td-400px {
    width: 400px;
}

.td-450px {
    width: 450px;
}

.td-500px {
    width: 500px;
}

.td-550px {
    width: 550px;
}

.td-600px {
    width: 600px;
}

.td-g {
    min-height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.td-10 {
    width: 100vw;
}

.td-9 {
    width: 90vw;
}

.td-8 {
    width: 80vw;
}

.td-7 {
    width: 70vw;
}

.td-6 {
    width: 60vw;
}

.td-5 {
    width: 50vw;
}

.td-4 {
    width: 40vw;
}

.td-3 {
    width: 30vw;
}

.td-2 {
    width: 20vw;
}

.td-1 {
    width: 10vw;
}

.td-h-1 {
    height: 30px;
}

.td-h-2 {
    height: 60px;
}

.td-h-3 {
    height: 90px;
}

.td-h-4 {
    height: 120px;
}

.td-h-5 {
    height: 150px;
}

.td-h-6 {
    height: 180px;
}

.td-h-7 {
    height: 210px;
}

.td-h-8 {
    height: 240px;
}

.td-h-9 {
    height: 270px;
}

.td-h-10 {
    height: 300px;
}
/*-----------------------------------------------------------------------*/



/*Шрифты*/
/*-----------------------------------------------------------------------*/
.dark-font {
    color: var(--text-primary-color) !important;
}

.title-font {
    color: var(--primary-color);
    font-family: 'Futura PT Book', Ubuntu, serif;
    font-size: 48px;
}

.subtitle-font {
    color: var(--primary-color);
    font-family: 'Futura PT Book', Ubuntu, serif;
    font-size: 32px;
}

.regular-font {
    color: var(--primary-color);
    font-family: 'Futura PT Book', Ubuntu, serif;
    font-size: 22px;
}

.low-font {
    color: var(--primary-color);
    font-family: 'Futura PT Book', Ubuntu, serif;
    font-size: 14px;
}

.btn-font {
    color: var(--primary-color);
    font-family: 'Futura PT Book', Ubuntu, serif;
    font-size: 18px;
    font-weight: bold;
}
/*-----------------------------------------------------------------------*/



/*Кнопки*/
/*-----------------------------------------------------------------------*/
.btn {
    background-color: var(--primary-dark-color);
    border: 0 solid;
    border-radius: 30px;
    color: var(--text-or-icons-color);
    line-height: 50px;
    height: 50px;
    width: 200px;
    transition: background-color 0.2s ease-out;
    box-shadow: 2px 2px 2px var(--text-primary-color);
}

.dark-btn {
    background-color: var(--text-primary-color);
    border: 0 solid;
    border-radius: 30px;
    color: var(--text-or-icons-color);
    line-height: 50px;
    height: 50px;
    width: 200px;
    transition: background-color 0.2s ease-out;
}

.btn:hover {
    background-color: var(--accent-color);
}

.btn-del {
    background-color: var(--delete-color);
}

.btn-del:hover {
    background-color: var(--delete-accent-color);
}

.link {
    text-decoration: none;
    color: var(--text-or-icons-color);
}
/*-----------------------------------------------------------------------*/



/*Input-ы*/
/*-----------------------------------------------------------------------*/
.form-input {
    margin-left: 5px;
    border: 1px solid black;
}

.form-input-error {
    border-left: 5px solid var(--delete-color);
    margin-left: 0;
}
/*-----------------------------------------------------------------------*/



/*Тосты*/
/*-----------------------------------------------------------------------*/
.toast {
    position: absolute;
    right: 20px;
    top: 150px;
    width: 300px;
    height: 80px;
    background-color: var(--primary-dark-color);
    color: var(--text-or-icons-color);
    border: 0;
    border-radius: 30px;
    text-align: center;
    line-height: 80px;
}
/*-----------------------------------------------------------------------*/



/*Разное*/
/*-----------------------------------------------------------------------*/
.horizontal-spliterator {
    margin-top: 15px;
    margin-bottom: 30px;
    height: 3px;
    background-color: black;
}
.vertical-spliterator {
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 2px;
    background-color: black;
}
/*-----------------------------------------------------------------------*/