.table-container {
    border: 1px solid var(--primary-color);
}

.table-header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-weight: bold;
}

.header-cell {
    /*transition: background-color 50ms ease-out;*/
    background-color: var(--primary-color);
    color: var(--text-or-icons-color);
}

.table-row {
    background-color: var(--text-or-icons-color);
    color: var(--text-primary-color);
}

.table-row:hover {
    background-color: var(--accent-color);
    color: var(--text-or-icons-color);
}

.table-cell {
    background-color: inherit;
    color: inherit;
}

.table-cell-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: inherit;
}

.subtitle-label {
    color: var(--primary-color);
    font-weight: bold;
}

.left-arrow-primary, .right-arrow-primary {
    width: 20px;
    height: 20px;
}

.left-arrow-primary, .right-arrow-primary > path {
    fill: var(--primary-color);
    stroke-width: .6;
    transition: fill 0.2s ease-out;
    cursor: pointer;
}

.left-arrow-primary:hover, .right-arrow-primary:hover > path {
    fill: var(--text-primary-color);
}

.left-arrow-primary {
    transform: rotate(180deg);
}

.search-input {
    width: 500px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--primary-color);
    padding-left: 10px;
    color: var(--primary-color);
}

.search-input::placeholder {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: bold;
    opacity: 60%;
}

.search-input:focus {
    outline-color: var(--accent-color);
}